<a href="https://colab.research.google.com/github/rodrigueslesterLML/House-Price-Prediction/blob/master/PuneHouse_Price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **IMPORTING REQUIRED DEPENDENCIES**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **UNDERSTANDING OUR DATA SET**

In [ ]:
# we read the file
data=pd.read_csv('/content/drive/MyDrive/BE Exps/ML/Project/Pune house data.csv')

In [ ]:
# We check the entries to gauge an idea of what the data is
data.head()

,area_type,availability,size,society,total_sqft,bath,balcony,price,site_location
0,Super built-up Area,19-Dec,2 BHK,Coomee,1056,2.0,1.0,39.07,Alandi Road
1,Plot Area,Ready To Move,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,Ambegaon Budruk
2,Built-up Area,Ready To Move,3 BHK,NaN,1440,2.0,3.0,62.00,Anandnagar
3,Super built-up Area,Ready To Move,3 BHK,Soiewre,1521,3.0,1.0,95.00,Aundh
4,Super built-up Area,Ready To Move,2 BHK,NaN,1200,2.0,1.0,51.00,Aundh Road

In [ ]:
# To identify the number of rows & columns
data.shape

(13320, 9)

In [ ]:
# To understand about our data -- which information is null etc?
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   area_type      13320 non-null  object
 1   availability   13320 non-null  object
 2   size           13304 non-null  object
 3   society        7818 non-null   object
 4   total_sqft     13320 non-null  object
 5   bath           13247 non-null  float64
 6   balcony        12711 non-null  float64
 7   price          13320 non-null  float64
 8   site_location  13319 non-null  object
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [ ]:
# printing value counts of each column
for column in data.columns:
  print(data[column].value_counts())
  print("*"*20)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
********************
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64
********************
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
********************
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64
********************
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
********************
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
********************
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
********************
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64
********************
Alandi Road            139
Kalyani Nagar          139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: site_location, Length: 97, dtype: int64
********************

In [ ]:
# to check the null values
data.isna().sum()

area_type           0
availability        0
size               16
society          5502
total_sqft          0
bath               73
balcony           609
price               0
site_location       1
dtype: int64

In [ ]:
# We will drop the values not related to our model and null values 
data.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [ ]:
# We check the description of the numerical columns
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size           13304 non-null  object
 1   total_sqft     13320 non-null  object
 2   bath           13247 non-null  float64
 3   price          13320 non-null  float64
 4   site_location  13319 non-null  object
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

**1. Location**

In [ ]:
data['site_location'].value_counts()

Alandi Road            139
Kalyani Nagar          139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: site_location, Length: 97, dtype: int64

In [ ]:
# from data. info we have seen that location has only 1 row empty so we fill it with Alandi Road
data['site_location']= data['site_location'].fillna('Alandi Road')

In [ ]:
data['site_location'].value_counts()

Alandi Road            140
Kalyani Nagar          139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: site_location, Length: 97, dtype: int64

**2. Size**

In [ ]:
data['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [ ]:
data['size']=data['size'].fillna('2 BHK')

**3. Bathroom**

In [ ]:
data['bath']= data['bath'].fillna(data['bath'].median())

**Now we dont have any null values**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size           13320 non-null  object
 1   total_sqft     13320 non-null  object
 2   bath           13320 non-null  float64
 3   price          13320 non-null  float64
 4   site_location  13320 non-null  object
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

**Data has BHK and bedroom mentioned seperately. we will have to make it uniform**

In [ ]:
data['bhk']=data['size'].str.split().str.get(0).astype(int)

**Now we will remove outliers from data**

In [ ]:
data[data.bhk > 20]

            size total_sqft  bath  price  site_location  bhk
1718      27 BHK       8000  27.0  230.0  Uruli Devachi   27
4684  43 Bedroom       2400  40.0  660.0  Salunke Vihar   43

**Now we will remove the ranges from the data**

In [ ]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [ ]:
def convertRange(x):

  temp = x.split('-')
  if len(temp) == 2:
    return (float(temp[0])+float(temp[1]))/2
  try:
    return float(x)
  except:
    return None

In [ ]:
# We apply the function to the data
data['total_sqft']=data['total_sqft'].apply(convertRange)

In [ ]:
data.head()

        size  total_sqft  bath   price    site_location  bhk
0      2 BHK      1056.0   2.0   39.07      Alandi Road    2
1  4 Bedroom      2600.0   5.0  120.00  Ambegaon Budruk    4
2      3 BHK      1440.0   2.0   62.00       Anandnagar    3
3      3 BHK      1521.0   3.0   95.00            Aundh    3
4      2 BHK      1200.0   2.0   51.00       Aundh Road    2

**Now we will make a new column price per square feet**

In [ ]:
data['price_per_sqft']= data['price']*100000 / data['total_sqft']

In [ ]:
data['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [ ]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

We have to reduce location count so that we can pass in model

In [ ]:
data['site_location'].value_counts()

Alandi Road            140
Kalyani Nagar          139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: site_location, Length: 97, dtype: int64

In [ ]:
#lRemoving whitespaces from location
data['site_location']=data['site_location'].apply(lambda x: x.strip())
location_count = data['site_location'].value_counts()

In [ ]:
location_count

Alandi Road            140
Kalyani Nagar          139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: site_location, Length: 97, dtype: int64

In [ ]:
location_count_less_10 = location_count[location_count<=10]
location_count_less_10

other    1
Name: site_location, dtype: int64

In [ ]:
data['site_location']=data['site_location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

In [ ]:
data['site_location'].value_counts()

Alandi Road            140
Kalyani Nagar          139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: site_location, Length: 97, dtype: int64

# **OUTLIER DETECTION AND REMOVAL**

In [ ]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

total square feet : 1 sqft

In [ ]:
(data['total_sqft']/data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

flats less than 300 are not feasible

In [ ]:
data = data[((data['total_sqft']/data['bhk'])) >= 300]
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838     6303.979357
std     1261.271296      1.077938    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [ ]:
data.shape

(12530, 7)

In [ ]:
data.price_per_sqft.describe()

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [ ]:
def remove_outliers_sqft(df):
  df_output = pd.DataFrame()
  for key,subdf in df.groupby('site_location'):
    m = np.mean(subdf.price_per_sqft)
    st = np.std(subdf.price_per_sqft)

    gen_df = subdf[(subdf.price_per_sqft > (m-st)) & (subdf.price_per_sqft <= (m+st))]
    df_output = pd.concat([df_output,gen_df], ignore_index = True)
  return df_output
data = remove_outliers_sqft(data)
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10945.000000  10945.000000  10945.000000  10945.000000    10945.000000
mean    1491.711693      2.456738     83.920326      2.565646     5380.873693
std      854.333997      0.961891     66.184537      0.895238     1605.759582
min      300.000000      1.000000     10.000000      1.000000     1379.310345
25%     1105.000000      2.000000     48.000000      2.000000     4186.046512
50%     1278.000000      2.000000     65.000000      2.000000     5107.526882
75%     1630.000000      3.000000     95.840000      3.000000     6333.333333
max    30400.000000     16.000000   2100.000000     16.000000    17548.524329

In [ ]:
def bhk_outlier_remover(df):
  exclude_indices = np.array([])
  for location, location_df in df.groupby('location'):
    bhk_stats = {}
    for bhk, bhk_df in location_df.groupby('bhk'):
      bhk_stats[bhk] = {
          'mean':np.mean(bhk_df.price_per_sqft),
          'std': np.std(bhk_df.price_per_sqft),
          'count': bhk_df.shape[0]
      }
    for bhk, bhk_df in location_df.groupby('bhk'):
      stats = bhk_stats.get(bhk-1)
      if stats and stats['count']>5:
         exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
  return df.drop(exclude_indices,axis='index')

In [ ]:
data.shape

(10945, 7)

In [ ]:
data.drop(columns=['size','price_per_sqft'],inplace=True)

In [ ]:
data
#after dropping size and price per sq ft

       total_sqft  bath   price site_location  bhk
0          1056.0   2.0   39.07   Alandi Road    2
1          2894.0   4.0  245.00   Alandi Road    4
2          1084.0   2.0   50.00   Alandi Road    2
3          1230.0   2.0   80.00   Alandi Road    2
4          1750.0   3.0  130.00   Alandi Road    3
...           ...   ...     ...           ...  ...
10940      1050.0   2.0   54.00      Yerawada    2
10941       970.0   2.0   45.00      Yerawada    2
10942      1140.0   2.0   57.00      Yerawada    2
10943      1464.0   3.0   56.00      Yerawada    3
10944      1132.0   2.0   70.00      Yerawada    2

[10945 rows x 5 columns]

# **Cleaned Data**

In [ ]:
data.head()

   total_sqft  bath   price site_location  bhk
0      1056.0   2.0   39.07   Alandi Road    2
1      2894.0   4.0  245.00   Alandi Road    4
2      1084.0   2.0   50.00   Alandi Road    2
3      1230.0   2.0   80.00   Alandi Road    2
4      1750.0   3.0  130.00   Alandi Road    3

In [ ]:
#data.to_csv("/content/drive/MyDrive/BE Exps/ML/Project/Cleaned_data.csv")
data.to_csv('Pune_Cleaned_data.csv')
!cp Pune_Cleaned_data.csv "/content/drive/MyDrive/BE Exps/ML/Project/"

In [ ]:
X=data.drop(columns=['price'])
y=data['price']

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score, explained_variance_score, mean_absolute_error,mean_squared_error

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [ ]:
print(X_train.shape)
print(X_test.shape)

(8756, 4)
(2189, 4)

# **Applying Linear Regression**

In [ ]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False),['site_location']),remainder='passthrough')

In [ ]:
scaler = StandardScaler()

In [ ]:
lr = LinearRegression(normalize=True)

In [ ]:
pipe = make_pipeline(column_trans,scaler,lr)

In [ ]:
pipe.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [ ]:
y_pred_lr = pipe.predict(X_test)

In [ ]:
print(r2_score(y_test, y_pred_lr))
print(explained_variance_score(y_test, y_pred_lr))
print(mean_absolute_error(y_test, y_pred_lr))
print(mean_squared_error(y_test, y_pred_lr))

0.7613737583918038
0.7614791577516475
18.96756889517207
779.8999241576796

# **Applying Lasso**

In [ ]:
lasso = Lasso()

In [ ]:
pipe = make_pipeline(column_trans,scaler, lasso)

In [ ]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [ ]:
y_pred_lasso = pipe.predict(X_test)
print(r2_score(y_test, y_pred_lasso))
print(explained_variance_score(y_test, y_pred_lasso))
print(mean_absolute_error(y_test, y_pred_lasso))
print(mean_squared_error(y_test, y_pred_lasso))

0.76137069576063
0.7614581088124126
18.973175564194474
779.9099337266358

# **Applying Ridge**

In [ ]:
ridge = Ridge()

In [ ]:
pipe = make_pipeline(column_trans, scaler, ridge)

In [ ]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [ ]:
y_pred_ridge = pipe.predict(X_test)
print(r2_score(y_test, y_pred_ridge))
print(explained_variance_score(y_test, y_pred_ridge))
print(mean_absolute_error(y_test, y_pred_ridge))
print(mean_squared_error(y_test, y_pred_ridge))

0.76137069576063
0.7614581088124126
18.973175564194474
779.9099337266358

In [ ]:
print("No Regularization: ", r2_score(y_test, y_pred_lr),explained_variance_score(y_test, y_pred_lr),mean_absolute_error(y_test, y_pred_lr),mean_squared_error(y_test, y_pred_lr))
print("Lasso: ", r2_score(y_test, y_pred_lasso),explained_variance_score(y_test, y_pred_lasso),mean_absolute_error(y_test, y_pred_lasso),mean_squared_error(y_test, y_pred_lasso))
print("Ridge: ", r2_score(y_test, y_pred_ridge),explained_variance_score(y_test, y_pred_ridge),mean_absolute_error(y_test, y_pred_ridge),mean_squared_error(y_test, y_pred_ridge))

No Regularization:  0.7613737583918038 0.7614791577516475 18.96756889517207 779.8999241576796
Lasso:  0.76137069576063 0.7614581088124126 18.973175564194474 779.9099337266358
Ridge:  0.76137069576063 0.7614581088124126 18.973175564194474 779.9099337266358

In [ ]:
import pickle

In [ ]:
pickle.dump(pipe, open('/content/drive/MyDrive/BE Exps/ML/Project/RidgeModelPune.pkl','wb'))